body {
  padding: 0;
  margin: 0;
}
.main-container {
  background-color: black;
  overflow: hidden;
  height: auto;
  width: 100%;
  color: #fbfffe;

  App {
    width: auto;
    height: auto;
    padding: 0;
    margin: 0;
  }
}
